@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
	margin:0;
	padding:0;
}
.container{
	width:1140px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
html{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
}
/*Start Header*/
.header{
	background:#996699;
	padding-top:57px;
}
.logo,.nav{
	float:left;
}
.logo{
	padding: 0 401px 0 62px;
}
.navbar{
	list-style:none;
	padding:11px 0 2px 82px;
}
.nav-item{
	display:inline-block;
	
}
.nav-link{
	text-decoration:none;
	color: #fff;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius: 5px;
}
.nav-link:first-child{
	padding-top: 3px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(2){
	padding-top: 3px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:4px;
}
.nav-link:nth-child(3){
	padding-top: 3px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:4px;
}
.nav-link:nth-child(4){
	padding-top: 3px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:4px;
}
.nav-link:nth-child(5){
	padding-top: 3px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:4px;
}
.nav-link:hover{
	background:#663366;
}
.hero-header{
	padding:140px 0 0 0;
	font-size:2.635rem;
	color:#fff;
	text-align:center;
	/* text-indent:68px; */
}
.bottom-header{
	/* padding-top:52px; */
	/* padding-right:423px; */
	/* padding-bottom:145px; */
	/* padding-left:424px; */
	margin:52px 423px 145px 424px;
	background:#f63;
	border-radius: 5px;
}
.item{
	padding:25px 86px 25px 82px;
	text-decoration:none;
	color: #fff;
	text-transform:uppercase;
	font-size:1.125rem;
	text-align:center;
}
/*End Header*/
/* start main */
.top-main{
	background:#0c9;
	padding-top:113px;
}
.content-main{
	margin:0 262px 79px 271px;
	color:#fff;
	text-align:center;
}
.section h1{
	font-size:2.5rem;
	text-transform:uppercase;
}
.section p{
	font-size:1.125rem;
}
.icon-top-main{
	float:left;
	color:#fff;
	text-align:center;
}
.banding{
	padding:0 47px 129px 53px;
	float:left;
}
.design{
	padding:0 62px 129px 45px;
	float:left;
}
.development{
	padding:0 51px 129px 34px;
	float:left;
}
.rocket{
	padding:0 0 129px 36px;
	float:left;
}
.item2{
	margin:54px 0 19px 0;
	text-transform:uppercase;
	font-size:1.5rem;
}
.center-main{
	background:#e7f1f8;
}
.top-center-main{
	padding-top:114px;
}
.hero1{
	margin:0 286px 49px 290px;
	font-size:2.580rem;
	text-transform:uppercase;
	color:#3c4761;
	text-align:center;
}
.hero2{
	margin:0 244px 0 250px;
	font-size:1.161rem;
	color:#3c4761;
	text-align:center;
}
.item-center-main{
	text-align:center;
}
.item3{
	padding:100px;
	background:#878787;
	border-radius:100px;
}
.item4{
	padding-top:38px;
	font-size:1.5rem;
	color:#3c4761;
	text-transform:uppercase;
}
.item5{
	padding-top:6.5px;
	font-size:1rem;
	color:#30bae7;
	text-transform:capitalize;
	/* text-align */
}
.item6{
	padding-top:25px;
	font-size:1rem;
	color:#535e75;
}
.colum1{
	margin:78px 49px 126px 50px;
	float:left;
}
.colum2{
	margin:78px 50px 126px 30px;
	float:left;
}
.colum3{
	margin:78px 49px 126px 30px;
	float:left;
}
.colum4{
	margin:78px 50px 126px 30px;
	float:left;
}
.links-pull-left{
	list-style:none;
	padding:29px 18px 0 19px;
}
.icon-contact1{
	margin-right:12px;
	float:left;
}
.icon-contact2{
	margin-right:12px;
	float:left;
}
.icon-contact3{
	margin-right:12px;
	float:left;
}
.icon-contact4{
	/* margin-right:12px; */
	float:left;
}
.icon-contact5{
	margin:0 12px 0 19px;
	float:left;
}
.icon-contact6{
	margin-right:12px;
	float:left;
}
.icon-contact7{
	/* margin-right:12px; */
	float:left;
}
.icon-contact8{
	margin-right:12px;
	float:left;
}
.icon-contact9{
	margin-right:12px;
	float:left;
}
.icon-contact10{
	margin-right:12px;
	float:left;
}
.icon-contact11{
	/* margin-right:12px; */
	float:left;
}
.icon-contact12{
	margin:0 12px 0 20px;
	float:left;
}
.icon-contact13{
	margin-right:12px;
	float:left;
}
.icon-contact14{
	/* margin-right:12px; */
	float:left;
}
.center-main2{
	background:#fff;
	padding-top:114px;
}
.content1{
	color:#3c4761;
	font-size:2.5rem;
	text-transform:uppercase;
	text-align:center;
}
.content2{
	color:#3c4761;
	font-size:1.125rem;
	text-align:center;
}
.colum5{
	float:left;
	margin:84px 70px 116px 70px;
}
.colum6{
	float:left;
	margin:84px 70px 116px 49px;
}
.colum7{
	float:left;
	margin:84px 70px 116px 49px;
}
.colum8{
	float:left;
	margin:84px 0px 116px 49px;
}
.percent90{
	display:inline-block;
}
.percent75{
	display:inline-block;
}
.percent70{
	display:inline-block;
}
.percent85{
	display:inline-block;
}
.content3{
	padding-top:29px;
	font-size:1.5rem;
	color:#3c4761;
	text-transform:uppercase;
	text-align:center;
}
.center-main3{
	background:#fd9;
	padding-top:114px;
}
.content4{
	font-size:2.5rem;
	color:#393939;
	text-transform:uppercase;
	text-align:center;
}
.content5{
	padding-top:38px;
	font-size:1.125rem;
	color:#393939;
	text-align:center;
}
.hero-main3{
	margin:43px 379px 0 382px;
	font-size:1.125rem;
	text-transform:uppercase;
	text-align:center;
	/* float:left; */
}
.hero3{
	padding:10px 29px 8px 27px;
	background:#ebc985;
	text-decoration:none;
	border-radius:5px;
}
.hero4{
	padding:10px 24px 8px 25px;
	background:#ebc985;
	text-decoration:none;
	border-radius:5px;
}
.hero5{
	padding:10px 25px 8px 24px;
	background:#ebc985;
	text-decoration:none;
	border-radius:5px;
}
.hero6{
	padding:10px 22px 8px 19px;
	background:#ebc985;
	text-decoration:none;
	border-radius:5px;
}
.after:hover{
	background:#fff;
}
.rows1{
	padding:62px 20px 0 20px;
	float:left;
}
.rows2{
	padding-top:62px;
	float:left;
}
.colum9{
	font-size:1.125rem;
	color:#3c4761;
	text-transform:uppercase;
	text-align:center;
}
.colum10{
	font-size:1.125rem;
	color:#3c4761;
	text-transform:uppercase;
	text-align:center;
}
.colum11{
	font-size:1.125rem;
	color:#3c4761;
	text-transform:uppercase;
	text-align:center;
}
.colum12{
	font-size:1.125rem;
	color:#3c4761;
	text-transform:uppercase;
	text-align:center;
}
.content6{
	margin:20px 0 61px 0;
}
.bottom-main3{
	margin:80px 423px 109px 423px;
}
.item7{
	padding:25px 55px;
	background:#17c2a4;
	border-radius:5px;
	font-size:1.125rem;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
.item7:hover{
	background:#b017c2;
}
.top-main4{
	padding-top:114px;
	background:#d74680;
}
.content7{
	font-size:2.5rem;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.content7{
	font-size:2.5rem;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.content8{
	font-size:1.125rem;
	color:#fff;
	text-align:center;
}
.bottom-main4{
	padding-top:68px;
	background:#d74680;
}
.rows3{
	/* margin-top:67px; */
	margin-left:20px;
}
.hero7{
	padding:48px;
	background:#787878;
	border-radius:48px;
	float:left;
}
.content9{
	padding:0 73px 0 48px;
	font-size:1.3125rem;
	color:#fff;
	text-align:left;
	float:left;
}.content9-a{
	padding:0 53px 0 48px;
	font-size:1.3125rem;
	color:#fff;
	text-align:left;
	float:left;
}
.content9-b{
	padding-left:48px;
	font-size:1.3125rem;
	color:#fff;
	text-align:left;
	float:left;
}
.hero8{
	padding:48px;
	background:#787878;
	border-radius:48px;
	float:left;
}
.content10{
	padding-left:48px;
	font-size:1.3125rem;
	color:#fff;
	text-align:left;
	float:left;
}
.rows4{
	margin:25px 0 144px 165px;
}
.rows-a{
	padding:25px 0 144px 0;
	float:left;
}
.name{
	
	font-size:1.4rem;
	color:#fff;
	text-transform:uppercase;
	text-align:left;
}
.name1{
	padding-right:400px;
}
.name2{
	padding-right:212px;
}
.name3{
	padding-right:365px;
}
.name-a{
	font-size:1.125rem;
	color:#fd9;
	text-align:left;
}
.rows5{
	padding-top:144px;
	margin-left:20px;
}
.hero9{
	padding:48px;
	background:#787878;
	border-radius:48px;
	float:left;
}
.hero10{
	padding:48px;
	background:#787878;
	border-radius:48px;
	float:left;
}
.rows6{
	margin:25px 0 128px 165px;
}
/* end main */
/* start footer */
.top-footer{
	padding-top:114px;
	background:#3c5499;
}
.content11{
	font-size:1.5rem;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}
.content12{
	padding-top:40px;
	font-size:1.125rem;
	color:#fff;
	text-align:center;
}
.center-footer{
	padding-top:75px;
	background:#3c5499;
}
.profile{
	padding:0px 140px 0 140px;
}
input[type=text], select {
	padding: 16px 245px 16px 25px;
	background:#273a71;
	display: inline-block;
	border-radius: 5px;
	/* box-sizing: border-box; */
}
input[type=submit] {
	background-color:#30bae7;
	color:#fff;
	text-transform:uppercase;
	padding:25px 85px;
	margin:60px 0 0 284px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color:#fc0;
}
.col{
  border-radius: 5px;
  padding-top:27px;
}
#yourmessage{
	background:#273a71;
	height:200px;
	width:860px;
}
.bottom-footer{
	padding-top:114px;
	background:#3c5499;
}
.navbar-footer{
	list-style:none;
	padding:44px 0 55px 99px;
	background:#344b8e;
}
.nav-item-footer{
	display:inline-block;
	padding-right:81px;
}
.nav-link-footer{
	text-decoration:none;
	color:#fff;
	font-size:1.125rem;
	text-align:center;
	line-height:1.125rem;
	border-radius: 5px;
}
.nav-link-footer:hover{
	color:#30bae7;
}
/* end footer */