.container{
	width:1280px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
.logo-left{
	width:40%;
	float:left;
}
.logo-left1{
	width:100%;
	float:left;
}
.logo1{
	width:37%;
	padding:50px 0;
	background:#936;
	float:left;
}
.logo2{
	width:26%;
	padding:50px 0;
	background:#6f6;
	float:left;
}
.logo3{
	width:37%;
	padding:50px 0;
	background:#cfc;
	float:left;
}
.logo4{
	width:15%;
	padding:100px 0;
	background:#369;
	float:left;
}
.logo10{
	width:100%;
	padding:50px 0;
	background:#f66;
	float:left;
}
.logo5{
	width:15%;
	padding:100px 0;
	background:#cfc;
	float:left;
}
.right-header{
	width:15%;
	float:left;
}
.logo6{
	padding:50px 0;
	background:#0cf;
}
.logo7{
	padding:50px 0;
	background:#ccf;
}
.right-header1{
	width:15%;
	float:left;
}
.logo8{
	padding:50px 0;
	background:#ccf;
}
.logo9{
	padding:50px 0;
	background:#0cf;
}
/* main */
.left-main{
	width:10%;
	float:left;
}
.colum1{
	padding:150px 0;
	background:#c30;
}
.colum2{
	padding:150px 0;
	background:#f96;
}
.colum3{
	padding:150px 0;
	background:#c30;
}
.colum4{
	padding:150px 0;
	background:#f96;
}
.colum5{
	padding:150px 0;
	background:#c30;
}
/* .colum6{ */
	/* padding:150px 0; */
	/* background:#f96; */
/* } */
.center-main{
	width:30%;
	float:left;
}
.center-main1{
	width:100%;
	float:left;
}
.center-main1-top{
	width:66%;
	/* padding:150px 0; */
	background:#c30;
	float:left;
}
.colum11{
	padding:150px 0;
	background:#0cf;
}
.colum12{
	width:50%;
	padding:300px 0;
	background:#09f;
	float:left;
}
.colum13{
	width:50%;
	padding:300px 0;
	background:#9c9;
	float:left;
}
.colum14{
	width:17%;
	padding:450px 0;
	background:#999;
	float:left;
}
.colum15{
	width:17%;
	padding:450px 0;
	background:#56f;
	float:left;
}
.colum16{
	width:100%;
	padding:300px 0;
	background:#55ff9f;
	float:left;
}
.center-main2{
	width:50%;
	float:left;
}
.top-main2{
	width:100%;
	float:left;
}
.colum17{
	width:40%;
	padding:300px 0;
	background:#c6f;
	float:left
}
.colum18{
	width:60%;
	padding:300px 0;
	background:#0f0;
	float:left
}
.img {
  position: right top;
}
.rows-top-main2{
	width:100%;
	float:left;
}
.top-rows{
	width:50%;
	float:left;
}
.top-rows2{
	width:50%;
	float:left;
}
.colum19{
	width:35%;
	padding:150px 0;
	background:#ccf;
	float:left;
}
.colum20{
	width:65%;
	padding:150px 0;
	background:#c3f;
	float:left;
}
.colum21{
	width:100%;
	padding:150px 0;
	background:#c33;
	float:left;
}
.colum22{
	width:25%;
	padding:300px 0;
	background:#ff6;
	float:left;
}
.colum23{
	width:25%;
	padding:300px 0;
	background:#66f;
	float:left;
}
.bottom-main2{
	width:100%;
	float:left;
}
.colum24{
	width:100%;
	padding:150px 0;
	background:#699;
	float:left;
}
.right-main{
	width:10%;
	float:left;
}
.rows1{
	padding:100px 0;
	background:#c3f;
}
.rows2{
	padding:350px 0;
	background:#939;
}
.rows3{
	padding:300px 0;
	background:#603;
}
.rows4{
	width:100%;
	padding:100px 0;
	background:#0c0;
}
.left-footer{
	width:15%;
	float:left;
}
.colum25{
	padding:75px 0;
	background:#9f3;
}
.colum26{
	padding:75px 0;
	background:#606;
}
.center-footer{
	width:45%;
	float:left;
}
.rows5{
	padding:50px 0;
	background:#030;
}
.rows6{
	padding:50px 0;
	background:#f99;
}
.rows7{
	padding:50px 0;
	background:#03c;
}
.center-footer1{
	width:15%;
	float:left;
}
.rows8{
	padding:75px 0;
	background:#99f;
}
.rows9{
	padding:75px 0;
	background:#c69;
}
.colum27{
	width:5%;
	padding:150px 0;
	background:#66f;
	float:left;
}
.colum28{
	width:10%;
	padding:150px 0;
	background:#fc0;
	float:left;
}
.colum29{
	width:10%;
	padding:150px 0;
	background:#f60;
	float:left;
}