.bg{
	background-color: #ff9a82;
}
#h1{
	color: red;
	text-align: center
}
.p{
	font-family: verdana;
	font-size: 18px;
	color: violet;
}
body{
	background-image: url("bodybg.png");
	background-repeat: repeat-x;
}