h1{
	color:red;
}
$fontfamily: 'Roboto', sans-serif;
.item{
	font-style: $fontfamily;
}
.h5 {
	background:green;
	}
.alert,.warning{
	ul,p{
		margin:0 auto;
	}
}
ul>{
	li{
		list-style-type:none;
	}
}
h2{
	+p{
		color: blue;
	}
	a{
		color: orange;
		&:hover{
			color: yellow;
		}
	}
}
p{
	~{
		span{
			background-color: #f0f;
		}
	}
}
.circle{
	$size:100px;
	width:$size;
	height:$size;
	border-radius:$size/2;
}
/*Placehoder Selector*/
%example{
	box-sizing:border-box;
	padding:16px 0;
	width:100%;
	&:hover{
		background-color:#fa5;
	}
}
.action-button{
		@extend %example;
		color:#5555f4;
}
.reset-button{
	color:#88f2d5;
}