h1{
	color:red;
}
$fontfamily: 'Roboto', sans-serif;
.item{
	font-style: $fontfamily;
}
.h5 {
	background:green;
	}
.alert,.warning{
	ul,p{
		margin:0 auto;
	}
}
ul>{
	li{
		list-style-type:none;
	}
}
h2{
	+p{
		color: blue;
	}
	a{
		color: orange;
		&:hover{
			color: yellow;
		}
	}
}
p{
	~{
		span{
			background-color: #f0f;
		}
	}
}
.circle{
	$size:100px;
	width:$size;
	height:$size;
	border-radius:$size/2;
}
/*Placehoder Selector*/
%example{
	box-sizing:border-box;
	padding:16px 0;
	width:100%;
	&:hover{
		background-color:#fa5;
	}
}
.action-button{
		@extend %example;
		color:#5555f4;
}
.reset-button{
	color:#88f2d5;
}
@use "sass:map";
$theme-color:(
	"success":#fff,
	"info":#12edb8,
);
.alert{
	color: map-get($theme-color,"success");
}
.menu-left{
	font-style: $fontfamily;
}
.list{
	@import 'list';
}
@mixin text {
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}
@mixin space($space,$top, $right,$bottom,$left){
	#{$space}:$top $right $bottom $left;
}
.sidebar{
	@include space(padding,5px,5px,4px,6px);
	@include space(margin,5px,5px,4px,6px);
	
}

.danger{
	@include text;
	color:red;
}
.warning{
	@include text;
	color:orange;
}
@function width_wrapper($value){
	@return($value+20px);
}
.wrapper{
	width:width_wrapper(80px);
}
@function invert($color,$amount:100%){
	$inverse:change-color($color,$hue:hue($color)+180);
	@return mix($inverse,$color,$amount);
}
$primary-color:#036;
.abc{
	color: invert($primary-color,80%);
}